{
  "env": {
    "browser": true,
    "node": true
  },
  "extends": "react-app",
  "plugins": [
    "react"
  ],
  "rules": {
    "indent": [
      "error",
      4,
      {
        "SwitchCase": 1
      }
    ]
  }
}
