# editor artifacts
*~

# build artifacts
/node_modules

# test artifacts
coverage

# doc builds
/doc/env
/doc/build

# index pulls
/impl/engine/indices

# test case artifacts
/testcases/docker-images/*/build
